#Products {
    display: flex;
    background: #5fdada;
}

.media-box {
    /* border: 5px solid #5fdada; */
    height: 40vh;
    position: relative;
    margin: 3vw;
    width: 25vw;
}

.media-box img {
    height: 20vw;
    width: 20vw;
}
